@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --whitePalo: #fffbf6;
  --fullBlack: #1E1E1E;
  --greenFalse: #D8E1CF;
}
*{
  background-color: tranparent;
}

body {
  background-color: var(--fullBlack);
}