@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-palo: #fffbf6;
  --vino-brown: #2f1a1e;
  --orange-life: #ff5939;
}
*{
  background-color: tranparent;
}

body {
  background-color: var(--white-palo)
}